<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Omni Sight</title>
</head>
<body>
    <H1>Welcome to Omni Sight!</H1>
    <p>
        Omni Sight is for Traders and investors interested in trading crypto-currencies. Omni Sight allows users to add and track their favorite crypto-currencies through an interactive user dashboard. The dashboard will display your favorite Currencies and allow to you to set custom price alerts and more...
    </p>
    <footer>All Rights Reserved, Omni-Sight 2021</footer>
</body>
</html>